name: Deepsource report test coverage

on:
  push:
    branches: [dev,master]
  pull_request:
    branches:
      - master
      - dev
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  report-test-coverage:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - run: pnpm run test:cov
      - name: Add git safe.directory for container
        run: |
          mkdir -p /home/runner/work/_temp/_github_home
          printf "[safe]\ndirectory = /github/workspace" > /home/runner/work/_temp/_github_home/.gitconfig
      - name: Report test-coverage to DeepSource
        uses: deepsourcelabs/test-coverage-action@master
        env:
          DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
        with:
          key: javascript
          coverage-file: ./coverage/lcov.info
          dsn: ${{ secrets.DEEPSOURCE_DSN }}